.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;

  body {
    background-size: 200% 100% !important;
    animation: move 8s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #68b36b 1%, #43a047 99%);
    height: 100vh;
  }
  
  h1 {
    color: #64c264;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 60px;
    margin-bottom: 15px;
  }
}

#loading {
  margin-top: 1em;
}
