.nav {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  margin-left: auto;

  button {
    margin-top: 1em;
    margin-right: 2em;
    padding: 15px;
    background-color: rgb(7, 188, 70);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }

}

a, a:link, a:visited {
  color: #fff;
  text-decoration: none;
}