.product_page {
  width: 100%;
  display: flex;

  .column1 {
    width: 100%;

    #prodSearchbox {
      display: flex;
      margin-left: 8.5em;
      margin-top: 2em;
      margin-bottom: -2em;
    }
    
    .layout {
      display: flex;
      margin-left: 10em;
  
      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        width: 80%;
      }

    } 
  }

  .column2 {
    width: 15%;
  }  

}

.singProduct {
  margin-bottom: 2em;
  border: 2px solid black;
  border-radius: 17px;
}

.singProduct:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.726);
  transition: box-shadow 0.4s ease-in-out;
}