.product_page {
  width: 100%;
  display: flex;

  .column1 {
    width: 100%;

    .layout {
      display: flex;
      margin-left: 10em;
  
      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        width: 80%;
      }
    } 
  }

  .column2 {
    width: 15%;
  }  

}

.singProduct {
  margin-bottom: 2em;
  border: 4px solid black;
  border-radius: 17px;
}