.opened {
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #64c264;
  
  .head {
    height: 4em;
    background-color: #64c264;
    display: flex;
    justify-content: end;
    align-items: center;
    
    #button {
      margin-right: 10px;
      height: 25px;
    }
  }  
}

.closed {
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  animation: move 8s ease infinite;
  transform: translate3d(0, 0, 0);
  background:#43a047;
  display: flex;
  flex-direction: column;

  .head {
    height: 4em;
    display: flex;
    background-color: #64c264;
    display: flex;
    justify-content: end;
    align-items: center;

    #button {
      margin-right: 10px;
      height: 25px;
    }
  } 
}

#sideimg {
  margin-top: 1em;
  margin-left: 4.5em;
  width: 100px;
  height: 100px;
  border: 5px solid rgb(255, 255, 255);
}

#sideCard {
  margin-top: 1em;
  margin-left: 2em;  
}

.sideInfo {
  margin-left: 10px;
  margin-right: 10px;
  padding: 1em

}

.sideProduct {
  background-color: #d2ffd4;
}