.single_product {
  

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28em;
    background-color: #d2ffd4;

    img {
      margin-top: 1em;
      width: 150px;
      height: 150px;
      border: 5px solid rgb(255, 255, 255);
    }

    .info {
      margin-left: 1em;
      margin-top: -6em;
    }

    button {
      cursor: pointer;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .left {
        margin-left: 5px;

        a {
          text-decoration: none;
          color: rgb(62, 224, 143);
        }
      }

      .right {
        button {
          margin: 0px 5px;
        }
      }
    }
  }
}

#prodimg {
  display: flex;
  justify-content: center;
}

#rating {
  display: flex;
  justify-content: flex-end;
  margin-top: -5em;
}

#cardcontent {
  max-height: 1em;
}
